body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #003366;
    color: white;
}

.logo {
    height: 50px;
    margin-right: 20px;
}

main {
    padding: 20px;
}

h1, h2 {
    margin: 0;
}

#chart {
    margin-top: 20px;
}

footer {
    padding: 10px;
    text-align: center;
    background-color: #f1f1f1;
}

label {
    margin-right: 10px;
}

select {
    margin-right: 20px;
}
